$ui-bg-primary-color: #2c3840;
$light-gray: gray(100);
$dark-gray: gray(60);

$topbar-background: $ui-bg-primary-color;

//ALERTS OR STATUS COLORS
$success-color: #1cba6a;
$alert-color: #ff414b;
$warning-color: #fffa4b;
$primary-color: #000;
