main#content{
  top: 5em;
  position: relative;

  max-width: 100vw !important;
  overflow-x: hidden;

  & > * {
    padding: 0 .5em;
  }
}

#app{
  aside.alerts-wrap{
    z-index: 10000;
    margin: 1em 2em;
    position: fixed;
    right: 0;
  }
}
