@import "icons";

//HEADER TOPBAR
$topbar-sticky-shrink-padding: 1rem; // controls the un-stuck height of topbar
$topbar-sticky-shrink-padding-stuck: .50rem; // controls the is stuck height of topbar
$topbar-sticky-shrink-bg: $ui-bg-primary-color;

.topbar-sticky-shrink {
  padding:$topbar-sticky-shrink-padding;
  transition: padding 0.25s ease;
  background: $topbar-sticky-shrink-bg;
  z-index: 10000;

  .menu {
    background: $topbar-sticky-shrink-bg;
  }
}

.is-stuck .topbar-sticky-shrink {
  padding: $topbar-sticky-shrink-padding-stuck;
  transition: padding 0.25s ease;
}

[data-sticky] {
  width: 100%;
}
header .sticky #navbar-line .top-bar-title > a > img{
  max-height: 100px;
}
header .sticky.is-anchored #navbar-line .top-bar-title > a > img{
  height: 100px;
}
header .sticky.is-stuck #navbar-line .top-bar-title > a > img{
  height: 60px;
}

ul.menu.social li a{
   margin: 0 .25em 0 0;
  &.social{
    padding: 0;
    width: 1.5em;
    margin: 0 .5em 0 .5em;
  }
}

#header-menu{
  z-index: 10000;
  & .top-bar-left{
    display: flex;
  }
}
.sticky-container {

    position: relative;
    z-index: 100000;

}