@import "pets-grid";

#home-hero{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0 !important;

  & .main{
    border: 3px solid rgba(0,0,0,.2);
    align-items: center;
    align-content: space-around;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1em;

  & h1{
      font-size: 1.5em;
    }
  }

  & .grid{
    border: 3px solid rgba(255,0,0,.2);
    flex-basis: 400px;
    padding: 0;
  }
  & > div{
    flex: 1 1 min-content;
  }
}
