#home-hero{
  & > div.grid{


    display: grid;
    grid-template-columns: 20px 1fr 20px;

    & > *{
      grid-column: 2 / -2;
    }

    & > .full{
      grid-column: 1 / -1;
    }


    .pets-grid
    {
      grid-column: 1 / -1;
      display: grid;
      grid-gap: 10px;
      grid-auto-flow: column;
      grid-auto-columns: calc(60vw - 40px * 2);
      //grid-template-columns: repeat(8, calc(50vw - 40px));

      grid-template-rows: minmax(40vw, 1fr);
      padding: 0 20px;
      overflow-x: scroll;

    //
    //  display: inline-grid;
    //  grid-gap: .5em;
    //  grid-template-columns: repeat(8, 40vw);
    //  grid-template-rows: repeat(2, 30vh);
    //  position: absolute;
    //
    //
    //
      & .pets-grid-item{
        z-index: auto;
        position: relative;
        overflow: hidden;
        max-height: calc(40vw - 10px);;

        a{
          position: relative;
          display: block;
          bottom: 0;
          left: 0;
        }

        img{
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
        }
      }
    }


  }
}